.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
div{
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
ul{
  list-style: none;
  display: inline;
}
nav, li{
  display: inline;
  margin-right: 1%;
}

table{
  margin-left: 25%;
}
td{
  padding:5px;
  background-color: lightcoral;
}
input{
  margin-right:2%;
  margin-bottom: 2%;
}

#button{
  padding:4px;
  font-weight: 700;
  font-size: 80%;
}
#button:hover{
  background-color: lightyellow;
}

a{
  color:red;
}
 a:hover{
   color:lightcoral;
 }
